

.active {
    font-weight: bold;
}

.gal-link {
    padding: 3px;
}

#nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#nav-gals {
    display: flex;
    flex-wrap: wrap;
}
